<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="[Playground suite]">
    <test name="Selenium">
        <packages>
            <package name="test" />
        </packages>
        <classes>
            <class name="test.playgroundTasks">
            </class>
        </classes>
    </test>
</suite>